{% extends 'base_generic.html' %}

{% block content %}
  <h1>Kiralama Kayıtlarım</h1>
  <ul>
    {% for kiralama in kiralamalar %}
      <li>{{ kiralama.iha.marka }} {{ kiralama.iha.model }} - {{ kiralama.baslangic_tarihi }} - {{ kiralama.bitis_tarihi }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'kiralama_create' %}">Yeni Kiralama</a>
{% endblock %}

{% extends 'base_generic.html' %}

{% block content %}
  <h1>Kiralama Kayıtlarım</h1>
  <ul>
    {% for kiralama in kiralamalar %}
      <li>{{ kiralama.iha.marka }} {{ kiralama.iha.model }} - {{ kiralama.baslangic_tarihi }} - {{ kiralama.bitis_tarihi }}
        <a href="{% url 'kiralama_update' kiralama.pk %}">Düzenle</a>
        <a href="{% url 'kiralama_delete' kiralama.pk %}">Sil</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'kiralama_create' %}">Yeni Kiralama</a>
{% endblock %}

{% extends 'base_generic.html' %}

{% block content %}
  <h1>Kiralama Kayıtlarım</h1>
  <ul>
    {% for kiralama in kiralamalar %}
      <li>{{ kiralama.iha.marka }} {{ kiralama.iha.model }} - {{ kiralama.baslangic_tarihi }} - {{ kiralama.bitis_tarihi }}
        <a href="{% url 'kiralama_update' kiralama.pk %}">Düzenle</a>
        <a href="{% url 'kiralama_delete' kiralama.pk %}">Sil</a>
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'kiralama_create' %}">Yeni Kiralama</a>
{% endblock %}


{% load render_table from django_tables2 %}
{% extends "base_generic.html" %}

{% block content %}
  <h1>Kiralama Kayıtları</h1>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Ara</button>
  </form>
  {% render_table table %}
{% endblock %}
